<!DOCTYPE html><html lang="en">

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/material.css" />
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/main.css"> <title> Disconnected </title>
</head>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<body class="uk-width-expand uk-height-viewport uk-light uk-flex uk-flex-center uk-flex-middle" gray-dark contact-box >

<!--····························································································-->

    <div> <h2> Disconnected </h2> </div>

<!--····························································································-->

</body>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->
</html>