<!DOCTYPE html><html lang="en">

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/material.css" />
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/main.css"> 
    <title> Message Box </title>
</head>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<body class="uk-width-expand uk-height-viewport uk-inline uk-light
             uk-flex uk-child-width-expand uk-flex-column-reverse" 
      gray-dark>

<!--····························································································-->
   
        <iframe src="/convo/message/form/<!--CLIENT-->" 
                frameborder="0" style="max-height:70px;">
        </iframe>

        <div class="uk-flex uk-flex-column uk-padding-small 
                    uk-gap-medium" message-box>

<!--····························································································-->