<!DOCTYPE html><html lang="en">

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/material.css" />
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/main.css"> <title> Message Box </title>
</head>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<body class="uk-width-expand uk-height-viewport uk-inline uk-padding-small uk-light
             uk-flex uk-flex-middle uk-flex-center uk-child-width-expand" gray-dark>

<!--····························································································-->
   
    <form class="uk-flex uk-flex-middle uk-padding-small uk-padding-remove-vertical" 
          message-form enctype="text/plain" method="POST" action="" >
        <input type="text" class="uk-input" name="msg" placeholder="Say Something..." autocomplete="off" >
        <button type="submit"> <i material>send</i> </button>
    </form>

<!--····························································································-->

</body>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->