<!DOCTYPE html><html lang="en">

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/material.css" />
    <link rel="stylesheet" href="/css/uikit.css" />
    <link rel="stylesheet" href="/css/main.css"> 
    <title> Convo </title> 
</head>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<body class="uk-height-viewport uk-flex uk-child-width-1-2@m uk-purple-bg"> 

    <div class="uk-flex uk-flex-center uk-flex-middle uk-background-default uk-padding-large">
    <div class="uk-flex uk-flex-column">

        <a href="/" class="uk-position-top-left uk-padding-small">
            <h2 title > <i material> sms </i> Convo </h2>
        </a>

        <h1 class="uk-text-center"> Hello, Welcome! </h1>
        
        <br>
        <h3 class="uk-text-center"> Welcome to Convo, where possibilities are endless, and conversations are extraordinary </h3>
        
        <br>
        <a href="/signup" class="uk-button uk-button-secondary uk-width-expand uk-rounded"> Sign Up </a>
        
        <br>
        <a href="/signin" class="uk-button uk-button-secondary uk-width-expand uk-rounded"> Sign In </a>
        
    </div>
    </div>

    <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-middle uk-visible@m uk-overflow-hidden">
        <img class="uk-rounded uk-animation-slide-bottom-medium uk-animation-fade"
             src="/image/convo" width="450">
    </div>

</body>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

</html>